/* project-detail.css */
#project-detail {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

.project-detail-container {
    max-width: 1200px;
    width: 100%;
    background-color: #f8f8f8;
    border-radius: 15px;
    padding: 30px;
}

#project-title {
    font-size: 2em;
    font-family: 'Georgia', serif;
    color: #222;
}

.project-location {
    font-size: 1.1em;
    color: #777777;
    margin: 15px 0;
}

.project-description {
    margin-top: 20px;
    color: #666666;
    font-size: 1.2em;
    line-height: 1.8;
    text-align: justify;
}

.tags-container {
    display: flex;
    gap: 10px;
    margin: 20px 0;
}

.tag {
    background-color: #e5e5e5;
    color: #333;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 1em;
}

#project-image-container {
    margin-top: 30px;
    text-align: center;
}

#project-image {
    width: 100%;
    max-width: 800px;
    border-radius: 15px;
    object-fit: cover;
    transition: transform 0.3s ease;
}

/* Add a container for the navigation buttons at the bottom */
#navigation-buttons-container {
    position:fixed;     
    bottom: 20px;  /* 20px from the bottom of the container */
    left: 50%;
    transform: translateX(-50%);  /* Center horizontally */
    display: flex;
    gap: 15px;
}

/* Styling for the Next and Previous buttons */
.nav-button {
    background-color: #fff;
    color: #333;
    padding: 10px 20px;
    margin: 0;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    font-family: 'Arial', sans-serif;
    transition: background-color 0.3s ease;
    text-decoration: none;  /* Remove underline */
}

.nav-button:hover {
    background-color: #555;
    color: #fff;
}

.nav-button:active {
    transform: scale(0.98); /* Slight scale effect on button press */
}


/* Ensure no underline is applied to anchor tags inside the link-buttons-container */
.link-buttons-container a {
    text-decoration: none; /* Specifically ensure no underline */
}


@media screen and (max-width: 768px) {
    .project-detail-container {
        padding: 20px;
    }

    #project-title {
        font-size: 1.8em;
    }

    .project-description {
        font-size: 1.1em;
    }
}
