/* Default styles for desktop */
#header .image-container {
    background-size: cover;
    background-position: center;
    height: 80vh; /* 80% of the viewport height */
    width: 100%;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    #header .image-container {
        height: 40vh; /* 40% of the viewport height */
    }
}
